p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* ------------------------------------------------- */
/* TWO COLUMNS FOR PRESENTATION PHOTO */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* ------------------------------------------------- */
/* EXAMPLE NUMBER*/

body {
  counter-reset: exemple;
}

.exemple {
  counter-increment: exemple; 
  margin-bottom: 1em;
}

.exemple::before {
  content: "Exemple " attr(section) "." counter(exemple) ": "; 
  font-weight: bold;
}

/* ------------------------------------------------- */
/* INSERT COVER PHOTO */

.body-inner {
  top: 0px !important;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
  overflow: auto;
  word-wrap: normal;
   margin: 0 0 0 0;
  padding: .85em 1em;
}

.book .book-header {
  position: initial !important;
  height: 200px !important;
  background-image: url(images/cover.png) !important;
  background-size: cover !important;
  background-position: bottom !important;
}

@media only screen and (max-width: 968px) {
  .book .book-header {
    position: initial !important;
    height: 250px !important;
    background-size: cover !important;
    background-position: bottom !important;
  }
}

.book .book-body.fixed {
    top: 0px !important;
  }