p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}



/* ------------------------------------------------- */
/* TWO COLUMNS FOR PRESENTATION PHOTO */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* ------------------------------------------------- */
/* TWO COLUMNS FOR ICONS */
.lefticon {
  width: 10%;
}

.righttext {
  width: 90%;
  padding-top: 0px;
}

/* ------------------------------------------------- */
/* EXAMPLE NUMBER*/

body {
  counter-reset: exemple;
}

.exemple {
  counter-increment: exemple; 
  margin-bottom: 1em;
}

.exemple::before {
  content: "Exemple " attr(section) "." counter(exemple) ": "; 
  font-weight: bold;
}

/* ------------------------------------------------- */
/* INSERT COVER PHOTO */

.body-inner {
  top: 0px !important;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
  overflow: auto;
  word-wrap: normal;
   margin: 0 0 0 0;
  padding: .85em 1em;
}

.book .book-header {
  position: initial !important;
  height: 350px !important; /* height à changer selon la taille de l'image */
  background-image: url(images/cover.png) !important; /* extension à changer selon le format de l'image */
  background-size: cover !important;
  background-position: bottom !important;
}

@media only screen and (max-width: 968px) {
  .book .book-header {
    position: initial !important;
    height: 250px !important;
    background-size: cover !important;
    background-position: bottom !important;
  }
}

.book .book-body.fixed {
    top: 0px !important;
  }
  
/* ------------------------------------------------- */
/* EXEMPLE SECTION : le trait en haut et en bas de chaque exemple */

.book .book-body .page-wrapper .page-inner section.normal hr {
  height: 4px;
  padding: 0;
  margin: 1.7em 0;
  overflow: hidden;
  background-color: #d58043; /* white mode*/
  border: none;
}

.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal hr {
  background-color: #d58043; /* sepia mode*/
}

.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal hr {
  background-color: #68cdff; /* night mode */
}

.color-theme-1 .exemple { 
  counter-increment: exemple;
  margin-bottom: 1em;
  padding: 15px 15px 15px 15px;
  background-color: #cfb996; /* color of example box on sepia mode */
}

.color-theme-2 .exemple { 
  counter-increment: exemple;
  margin-bottom: 1em;
  padding: 15px 15px 15px 15px;
  background-color: #023253; /* color of example box on night mode */
}

.exemple { 
  counter-increment: exemple;
  margin-bottom: 1em;
  padding: 15px 15px 15px 15px;
  background-color: #fbf3eb; /* color of example box on white mode */
}

/* ------------------------------------------------- */
/* TOP BUTTONS COLOR*/
.book .book-header .btn {
  color: #fff; /* color of buttons on white mode */
  text-transform: uppercase;
  line-height: 50px;
  font-size: 14px;
}

.book.color-theme-1 .book-header .btn {
  color: #111;  /* color of buttons on sepia mode */
}

.section h3 {
  color: #A64907;
}

/* ------------------------------------------------- */
/* CAPTION  COLOR*/

.book.color-theme-1 p.caption {
  color: #685722 !important; /* sepia mode for figure caption*/
}

.book.color-theme-1 caption {
  color: #685722 !important; /* sepia mode for table caption*/
}

.book.color-theme-2 p.caption {
  color: #d8defd !important; /* night mode for figure caption*/
}

.book.color-theme-2 caption {
  color: #d8defd !important; /* night mode for table caption*/
}

/* ------------------------------------------------- */
/* TABLES WITH HTML NOT KABLE*/
.book .book-body .page-wrapper .page-inner section.normal table td{
  border-left: none;
  border-right: none;
  background: white !important;
  border: 1px solid white;
  padding: 0;
}

.book .book-body .page-wrapper .page-inner section.normal table th{
  border-left: none;
  border-right: none;
  background: white !important;
  border: 1px solid white;
  padding: 0;
}

.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal table th{
  border-color: #ffe0a4;
  background: #ffe0a4  !important; /* sepia mode for table color*/
}

.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal table td {
  border-color: #ffe0a4;
  background: #ffe0a4 !important; /* sepia mode for table color*/
}

.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal table th{
  border-color: #3b3f54;
  background: #3b3f54 !important; /* night mode for table color*/
}

.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal table td {
  border-color: #3b3f54;
  background: #3b3f54 !important; /* night mode for table color*/
}


.custom-row {
  line-height: 20px !important; 
}

.centered-row td,  .centered-row th {
  text-align: center; 
}

/* ------------------------------------------------- */
/* Pris du CSS de SCI 1031*/

blockquote {
  color: black !important;
  font-weight: 600 !important;
  border-left: 4px solid #486864 !important;
  font-size: 15px;
}

.section h5 {
  font-size: 18px !important;
  line-height: 24px;
  font-weight: bold;
  color: #0E5967;
}

/* BOITE */
.boite.emphase {
  padding: 25px;
  padding-bottom: 15px;
  background-color: #C7D1D0;
  margin-bottom: 20px;
}
.boite.ico img[src*=".svg"] {
  width: 60px;
  height: 50px;
  margin-top: 50px;
}
.boite.photo img[src*=".jpg"] {
  width: 200px;
  height:200px;
  margin-top: 200px;
}
.boite.photo.gauche {
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  padding-top:200px;
}
.boite.ico.gauche, .boite.ico.droite {
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  padding-top: 70px;
}
@media only screen and (min-width: 768px) {
  .boite.ico.gauche {
    background-size: 60px;
    padding-left: 85px;
    padding-top: 15px;
  }
  .boite.ico.droite {
    background-size: 60px;
    padding-right: 85px;
    padding-top: 15px;
    background-position: top right;
    text-align: right;
  }
  .boite.ico.droite ul {
   display: inline-block;
  }
  .boite.photo.gauche {
    background-size: 160px;
    padding-left: 200px;
    padding-top: 10px;
    background-position: top left;
    text-align: left;
    display: inline-block;
    float: left;
  }
}
.boite.ico.gauche h1, .boite.ico.gauche h2, .boite.ico.gauche h3, .boite.ico.gauche h4, .boite.ico.gauche h5, .boite.ico.gauche h6,  .boite.ico.gauche h7, .boite.ico.droite h1, .boite.ico.droite h2, .boite.ico.droite h3, .boite.ico.droite h4, .boite.ico.droite h5, .boite.ico.droite h6, .boite.ico.droite h7, .boite.photo.gauche h5 {
  margin-top: 0px !important;
}
.boite.ico.librairie {
  background-image: url('images/Icones_Bibliotheques.svg');
}
.boite.ico.fonctions {
  background-image: url('images/Icones_Fonctions.svg');
}
.boite.ico.donnees {
  background-image: url('images/Icones_Donnees.svg');
}
.boite.ico.important {
  background-image: url('images/Icone_Remarque-Importante.svg');
}
.boite.photo.elise {
  background-image: url('images/Photo_moi.jpg');
}

